<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Harry Sha</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="icon"><a href="https://harrysha.com">Harry Sha</a></div>
            <!-- TODO -->
            <!-- <ul id="list-of-links" style="float: right;">
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
            </ul> -->
        </div>
        <div id='content'>
            {content}
        </div>
    </div>
    a
    
</body>
</html>